@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a,
li,
button {
  cursor: pointer;
  font-family: "Poppins";
  text-decoration: none;
  color: black;
  outline: none;
}

button > a {
  color: white;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  background-color: white;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

input {
  background-color: white;
}
